<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Honcari -気軽に本をどこへでも-</title>
<!-- Style CSS -->
<link href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet">
<link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
</head>
<body>
<header>
	<nav th:replace="header::frag_header(0)"></nav>
</header>
<section>
<div class="py-5 book-detail-wrapper">
    <div class="container">
    <div th:if="${errorMessage}"><h4 th:text="${errorMessage}" class="text-center text-danger">エラーメッセージ</h4></div>
        <!-- Row -->
        <div class="row">
            <!-- Column -->
            <div class="col-lg-6"> 
				<img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/features/feature22/img1.jpg" 
					th:src="@{${book.thumbnailPath}}" class="rounded img-fluid mx-auto d-block book-detail" alt="thumbnail" /> 
			</div>
            <!-- Column -->
            <div class="col-lg-6 mt-4 mt-md-0">
                <div class="text-box">
                	<p>貸出状況：<span th:text="${book.getBookLendingStatus()}">status</span>&nbsp;&nbsp;&nbsp;&nbsp;
                		所有者：<span th:text="${book.user.name}">status</span></p>
                    <h3 class="font-weight-light mt-2 mb-4" th:text="${book.title}">title</h3>
                    <h4 class="font-weight-light mt-2 mb-4" th:text="${book.author}">author</h4>
                    <h4 class="font-weight-light mt-2 mb-4" th:text="${book.publishedDate}">published_date</h4>
                    <p th:text="${book.description}">description</p>
					<button class="btn btn-warning btn-lg btn-block" data-toggle="modal" data-target="#book-edit-form">
						登録情報を変更する</button>
					<a th:href="@{'/delete_book?bookId=' + ${book.id}}" class="btn btn-warning btn-lg btn-block">
						登録を解除する</a>
				</div>
            </div>
			<!-- モーダル -->
			<div class="modal fade" id="book-edit-form" tabindex="-1" role="dialog" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered" role="document">
					<div class="modal-content">
						<form th:action="@{/edit_book}" method="POST">
							<div class="modal-header">
								<h5 class="modal-title">書籍情報を編集する</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">	
								<select name="categoryId">
									<option th:each="category : ${categoryList}" th:text="${category.name}" th:value="${category.id}" th:selected="${book.categoryId == category.id}"></option>
								</select>
							</div>
							<div class="modal-body">
								<textarea name="comment" rows="4" cols="30"></textarea>
							</div>
							<input type="hidden" name="bookId" th:value="${book.id}">
							<div id="book-request-parameter"></div>
								<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
								<button type="submit" class="btn btn-primary">登録する</button>
  							</div>
			  			</form>
			  		</div>
  				</div>	
			</div>
        </div>
    </div>
</div>
</section>
	<script	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="../static/js/bootstrap.js" th:src="@{/js/bootstrap.js}"></script>
</body>
</html>