<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Honcari | グループ編集</title>
<!-- Style CSS -->
<link href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet">
<link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet" type="text/css">
<link rel="shortcut icon" href="/img/favicon.ico">
</head>
<body>
<nav th:replace="header::frag_header(2)"></nav>

<section class="group-image text-center">
      <h2 class="section-heading">グループを編集する</h2>
      <p class="section-description" style="color:white">グループを編集することができます</p>
</section>
<!-- コンテンツ -->
<div class="container content-wrapper">
	<div class="row justify-content-md-center">
		<div class="col-md-8 col-md-offset-4">
			<form th:action="@{/group/edit_group}" th:object="${editGroupForm}" method="post" enctype="multipart/form-data">
			  <input id="name1" type="hidden" th:value="${Group_Folder_Name}">
			  <input id="name2" type="hidden" th:value="${Bucket_Name}">
			  <div id="image-panel" class="form-group image mb-3 position-relative">
				<img id="current-image" class="rounded-lg mx-auto d-block border border-secondary"
					th:src="${group.groupImage}" width="320px" height="180px">
				<button type="button" id="delete-image" class="btn btn-sm btn-outline-secondary position-absolute delete-image"
					style="top:83%;left:75%;">削除</button>
				<input id="image-path" type="hidden" name="imagePath" th:value="${group.groupImage}">
			  </div>
			  <label for="custom-file" class="col-form-label">グループイメージ</label>
			  <div id="file" class="input-group form-group"> 
				<div class="custom-file">
					<input type="file" id="custom-file" class="custom-file-input inputFile" name="groupImage" accept="image/*">
					<label class="custom-file-label" for="custom-file" data-browse="参照">ファイル選択...</label>
				</div>
				<div class="input-group-append">
					<button type="button" class="btn btn-outline-secondary reset">取消</button>
				</div>
			  </div> 
			  <div class="form-group">
			    <label for="InputGroupName">グループ名</label>
			    <label th:errors="*{name}"  class="control-label" style="color: red" for="InputGroupDescription"></label>
			    <input type="text" th:field="${group.name}" class="form-control" id="InputGroupName" placeholder="グループ名">
			  </div>
			  <div class="form-group">
			    <label for="InputGroupDescription">説明文</label>
			    <label th:errors="*{description}"  class="control-label" style="color: red" for="InputGroupDescription"></label>
			    <input type="text" th:field="${group.description}" class="form-control" id="InputGroupDescription" placeholder="説明文">
			  </div>
			  <div class="form-group" th:if="${requestedOwnerUserName}==null">
			    <label for="formGroupExampleInput2">オーナー権限を委任する</label> 
			    <input type="text" class="form-control searchUser" id="formGroupExampleInput2" placeholder="権限を委任したいユーザー名を入力してください">
			  	<div class="list-group addUserList">
			  		<!-- jqueryで検索したユーザーリストを表示 -->
			  	</div>
			  </div>
			   <div class="form-group" th:if="${requestedOwnerUserName}!=null">
			   	<label for="formGroupExampleInput2">オーナー権限を委任する：</label> 
			   	<div th:text="${requestedOwnerUserName} + ' さんに依頼中です。相手が承認するまでお待ちください。'"></div>
			   　<input type="hidden" class="form-control" name="userName" th:value="${requestedOwnerUserName}">
			   </div>
			  	<input type="hidden" class="form-control loginUserId" th:value="${loginUser.userId}">
			  <div class="form-group" th:if="${requestedOwnerUserName}==null">
<!-- 			    <label for="formGroupExampleInput2">オーナー権限を委任するユーザー</label>
 -->			  	<div class="row mx-2 groupUser">
			  		<!-- 招待するユーザーを追加するところ -->
			  	</div>
			  </div>
			  <input type="hidden"  class="groupId" name="groupId" th:value="${group.id}">
			  <small class="">グループを非公開にするにはこちらにチェックを入れてください</small> <input type="checkbox" name="groupStatus" th:field="${group.groupStatus}" value="1" id="InputGroupDescription">
				<button class="btn btn-warning btn-lg btn-block">変更する</button>
				<a th:href="@{${returnParam}}" class="btn btn-secondary btn-sm btn-block">戻る</a>			
			  <input type="hidden" name="groupId" th:value="${group.id}">
			　<input type="hidden" name="ownerUserId" th:value="${group.ownerUserId}">			
			</form>
		</div>
	</div>
</div>
<!-- フッター -->
<footer th:replace="footer::footer"></footer>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" th:src="@{/js/owner_transfer.js}"></script>
<script src="../static/js/group_file_reader.js" th:src="@{/js/group_file_reader.js}"></script>


</body>
</html>