<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Honcari -気軽に本をどこへでも-</title>
<!-- Style CSS -->
<link href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet">
<link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet" type="text/css">
</head>
<body>
<nav th:replace="header::frag_header(2)"></nav>

<section class="group-image text-center">
      <h2 class="section-heading">グループを編集する</h2>
      <p class="section-description" style="color:white">グループを編集することができます</p>
</section>
<!-- コンテンツ -->
<div class="container content-wrapper">
	<div class="row justify-content-md-center">
		<div class="col-md-8 col-md-offset-4">
			<form th:action="@{/group/edit_group}" th:object="${editGroupForm}" method="post">
			  <div class="form-group">
			    <label for="InputGroupName">グループ名</label>
			    <input type="text" th:field="${group.name}" class="form-control" id="InputGroupName" placeholder="グループ名">
			  </div>
			  <div class="form-group">
			    <label for="InputGroupDescription">説明文</label>
			    <label th:errors="*{description}"  class="control-label" style="color: red" for="InputGroupDescription"></label>
			    <input type="text" th:field="${group.description}" class="form-control" id="InputGroupDescription" placeholder="説明文">
			  </div>
				<button class="btn btn-warning btn-lg btn-block">変更する</button>
				<a th:href="@{${returnParam}}" class="btn btn-secondary btn-sm btn-block">戻る</a>			
			  <input type="hidden" name="groupId" th:value="${group.id}">
			　<input type="hidden" name="groupStatus" th:value="${group.groupStatus}">
			　<input type="hidden" name="ownerUserId" th:value="${group.ownerUserId}">
			</form>
		</div>
	</div>
</div>
<!-- フッター -->
<footer th:replace="footer::footer"></footer>
</body>
</html>