<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
	グループ名：<span th:text="${group.name}"></span><br>
	グループについて：<span th:text="${group.description}"></span><br>
	参加ユーザー：<br>
	<div th:each="user : ${group.userList}"><span th:text="${user.name}"></span></div>	
	<input type="hidden" name="groupId" th:value="${group.id}"><br>
	<a th:href="@{/group/to_edit_group(groupId=${group.id})}" th:if="${userId}==${group.ownerUserId}">グループを編集する</a><br>
	<a href="" th:if="${b}==true">招待する</a><br>
	<a th:href="@{'/group/out_group?id=' + ${group.id}}" th:if="${b==true and userId!=group.ownerUserId}" onclick="return confirm('本当にこのグループから抜けますか？')">このグループから抜ける</a><br>
	<a href="" th:if="${b}==false">このグループに参加する</a><br>	
	<hr>
	<a th:href="@{/group/to_search}">戻る</a>

</body>
</html>