<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Honcari -気軽に本をどこへでも-</title>
<!-- Style CSS -->
<link href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet">
<link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
</head>
<body>
<nav th:replace="header::frag_header(3)"></nav>
<div class="container">
	<div class="row justify-content-md-center">
		<div class="col-md-8 col-md-offset-4">
			<h1>グループ作成</h1>
			<form th:action="@{/group/register}" th:object="${registerGroupForm}" method="post">
			  <div class="form-group">
			    <label for="InputGroupName">グループ名</label>
			    <label th:errors="*{name}"  class="control-label" style="color: red" for="InputGroupName"></label>
			    <input type="text" th:field="*{name}" class="form-control" id="InputGroupName" placeholder="グループ名">
			  </div>
			  <div class="form-group">
			    <label for="InputGroupDescription">説明文</label>
			    <label th:errors="*{description}"  class="control-label" style="color: red" for="InputGroupDescription"></label>
			    <input type="text" th:field="*{description}" class="form-control" id="InputGroupDescription" placeholder="説明文">
			  </div>
			  <div class="form-group">
			    <label for="formGroupExampleInput2">ユーザー検索</label>
			    <input type="text" class="form-control searchUser" id="formGroupExampleInput2" placeholder="ユーザー名">
			  	<div class="addUserList">
			  		<!-- jqueryで検索したユーザーリストを表示 -->
			  	</div>
			  </div>
			  <input type="hidden" class="form-control loginUserId" th:value="${user.userId}">
			  <div>
			    <label for="formGroupExampleInput2">追加するユーザー</label>
			  	<div class="groupUserList">
			  		<div class="row login-user">
			  			<span th:text="${user.name}" class="col-md-12 text-left">ログインユーザー</span>
			  			<input type="hidden" name="userNameList[0]" th:value="${user.name}">
			  		</div>
			  	</div>
			  </div>
			  <button class="btn btn-warning btn-lg btn-block" data-toggle="modal" data-target="#lendering-request-form">
					グループを作成</button>
			</form>
		</div>
	</div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" th:src="@{/js/register_group.js}"></script>
</body>
</html>