<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Honcari -気軽に本をどこへでも-</title>
<link href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet">
<link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="/css/slick.css">
<link rel="stylesheet" type="text/css" href="/css/slick-theme.css">
</head>
<body>
<nav th:replace="header::frag_header(0)"></nav>
<main role="main">

  <section class="group-image text-center">
      <h2 class="section-heading">グループを探す</h2>
      <p class="section-description" style="color:white">グループに参加してグループ内のユーザーと本をシェアしよう！</p>
      <div class="search-book-for-add form-group form-inline justify-content-center">
	      <form th:action="@{/group/search}" method="get">
	      		<input class="form-control" name="name" type="search" placeholder="グループを検索..." aria-label="グループを検索...">
	      		<button type="submit" class="btn btn-warning my-2 my-2 my-sm-0">検索</button>
	      </form>
      </div>
  </section>

    <div class="container content-wrapper">
	  <div style="margin: 50px 0 0 0">
        <p class="text-center" style="color:gray" th:if="${groupList}==null">検索結果がありませんでした</p>  
      </div>
      <div class="row">
        <div class="col-md-4" th:each="group:${groupList}">      
          <div class="mb-4 group-card DivLink">   
              <h3 class="card-title text-center card-body" th:text="${group.name}" style="color:white">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</h3>
              <p class="card-text text-center text-truncate" th:text="${group.description}" style="padding:1.25rem">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="text-center" style="bottom:0">
              <a class ="Link" th:href="@{/group/show_detail(id=${group.id})}"></a> 
                <small>オーナー： <a th:href="${'/user/show_user_page?userId=' + group.ownerUser.userId}" style="color:white" th:text="${group.ownerUser.name}"></a></small>
              </div>
          </div>
        </div>
      </div>
			<div  class="row pager justify-content-center"  th:unless="${groupList} == null">
				<ul class="pagination">
					<li th:class="active" th:each="i : ${#numbers.sequence(firstPage, lastPage)}" >
						<a th:class="(${i}==${page})? 'active disabled':''" th:href="@{'/group/search?name=' + ${name} + '&page=' + ${i}}" th:text="${i}">
						<span th:href="@{'/group/search?name=' + ${name} + '&page=' + ${i - 1}}" th:text="${i}"></span>
						</a>
					</li>
				</ul>
			</div>
	</div>

</main>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="/js/slick.min.js"></script>
<script type="text/javascript" src="/js/slick_option.js"></script>
<script src="../static/js/group_detail.js" th:src="@{/js/group_detail.js}"></script>

</body>
<footer th:replace="footer::footer"></footer>
<style>
.card-body{
    text-overflow: ellipsis;
    display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	height:80px;
}
</style>
</html>