<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Honcari | グループを探す</title>
<link href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet">
<link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="/css/slick.css">
<link rel="stylesheet" type="text/css" href="/css/slick-theme.css">
<link rel="shortcut icon" href="/img/favicon.ico">
</head>
<body>
<nav th:replace="header::frag_header(0)"></nav>
<main role="main">

  <section class="group-image text-center">
      <h2 class="section-heading">グループを探す</h2>
      <p class="section-description" style="color:white">グループに参加してグループ内のユーザーと本をシェアしよう！</p>
      <div class="search-book-for-add form-group form-inline justify-content-center">
	      <form th:action="@{/group/search}" method="get">
	      		<input class="form-control" name="name" type="search" placeholder="グループを検索..." aria-label="グループを検索...">
	      		<button type="submit" class="btn btn-warning my-2 my-2 my-sm-0">検索</button>
	      </form>
      </div>
  </section>

    <div class="container content-wrapper">
	  <div style="margin: 50px 0 0 0">
        <p class="text-center" style="color:gray" th:if="${groupList}==null">検索結果がありませんでした</p>  
      </div>
      <div class="row" style="margin:40px">
        <div class="col-md-4 mb-4" th:each="group:${groupList}">
          <div class="group-card rounded-lg shadow div-link" th:style="'background-image:url(' + ${group.groupImage} + ')'">   
		    <div class="rounded-lg shadow">
		      <a class="Link" th:href="@{/group/show_detail(id=${group.id})}"></a>
	  	      <div class="over-text">
		        <h4 class="text-truncate group-card-name" th:text="${group.name}"></h4>
		        <div class="text-truncate group-card-descript" th:text="${group.description}"></div>
		        <small class="text-truncate">オーナー ： <span th:text="${group.ownerUser.name}"></span></small>
		      </div>
		    </div>
		  </div>
		</div>
      </div>
			<div  class="row pager justify-content-center"  th:unless="${groupList} == null">
				<ul class="pagination">
					<li th:class="active" th:each="i : ${#numbers.sequence(firstPage, lastPage)}" >
						<a th:class="(${i}==${page})? 'active disabled':''" th:href="@{'/group/search?name=' + ${name} + '&page=' + ${i}}" th:text="${i}">
						<span th:href="@{'/group/search?name=' + ${name} + '&page=' + ${i - 1}}" th:text="${i}"></span>
						</a>
					</li>
				</ul>
			</div>
	</div>

</main>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="/js/slick.min.js"></script>
<script type="text/javascript" src="/js/slick_option.js"></script>
<script src="../static/js/group_detail.js" th:src="@{/js/group_detail.js}"></script>

</body>
<footer th:replace="footer::footer"></footer>
</html>