@charset "UTF-8";

@import url(//fonts.googleapis.com/css?family=Montserrat:400,700);

/* 全てに適能可能なデザイン */
:root{
	--yellow: #fed136;
}

h2.section-heading {
	font-size: 2.0rem;
	margin-top: 0;
	margin-bottom: 0.5rem;
}

h3.section-subheading {
	font-size: 1rem;
	font-weight: 400;
	font-style: italic;
	font-family: $ subheadings-font-family;
	margin-bottom: 1rem;
}

.carousel-item {
	height: 65vh;
	min-height: 350px;
	background: no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#book-list {
	font-size: 14px;
	text-align: center;
}

.add-book-top {
	height: 20vh;
	min-height: 220px;
	background: no-repeat center center scroll;
	background-image: url("/img/add_book_top.jpg");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	filter: grayscale(100%);
}

.search-book-for-add {
	text-align: center;
	padding-top: 30px;
}

.add-book-theme {
	font-family: Comic Sans MS;
	font-size: 40px;
	font-weight: bold;
	padding-left: 20px;
}

.book-img {
	width: auto;
	height: 160px;
	margin: 0;
}

.image img, input[type="image"] {
	opacity: 0.6;
}

.custom-file {
	max-width: 20rem;
	overflow: hidden;
}

.custom-file-label {
	white-space: nowrap;
}

.dropdown .dd-text {
	position: relative;
	top: 38px;
}

.dropdown .dd-img {
	position: relative;
	top: 48px;
}

.dropdown:hover .dropdown-menu {
	display: block;
}

#book-card{
	width: 80%;
	height: 550px;
}

#my-book-category {
	margin-top: 40px;
}

/*  トップページのデザイン */
.top-head-wrapper {
	font-weight: 300;
	padding: 10% 0;
	background-size: cover;
	background-position: center center;
}

.top-head-wrapper .title {
	font-weight: 700;
	font-size: 48px;
	line-height: 50px;
}

.top-head-wrapper .subtitle {
	line-height: 24px;
}

@media ( max-width : 900px) {
	.top-head-wrapper .title {
		font-size: 40px;
		line-height: 45px;
	}
}

.top-head-wrapper .btn-md {
	padding: 15px 45px;
	font-size: 16px;
}

.top-head-wrapper .badge {
	line-height: 21px;
}

.top-head-wrapper .badge-inverse {
	background: #3e4555;
}

.top-head-wrapper .op-8 {
	opacity: 0.8;
}

#edit-button{
	font-size: 16px;
}

/* 本詳細ページのデザイン */
.book-detail-img{
	width: 250px;
}

footer {
	height:50px;
	text-align:center;
	font-size:0.85em;
	display:block;
}
