@charset "UTF-8";

@import url(//fonts.googleapis.com/css?family=Montserrat:400,700);

/*　全体のデザインに共通のCSS */
:root { 
	--primary: #f7c600; 
	--secondary: #332900;
	--yellow: #f7c600; 
	--yellowHover: #cca300; 
	--green: #00f700;
	--blue: #00c6f7;
	--purple: #6300f7; 
	--red: #f70063;
	--gray: #808080;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
  padding-top: 55px;
  min-height: 100vh;
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-direction: column !important;
  flex-direction: column !important;
  overflow-y: scroll;
}

a {
	color: black;
	text-decoration: none;
	background-color: transparent;
}

a:hover {
	color: black;
	text-decoration: underline;
}

.btn-warning {
	color: #fff;
	background-color: var(--yellow);
	border-color: var(--yellow);
}

.btn-warning:hover {
	color: #fff;
	background-color: var(--yellowHover);
	border-color: var(--yellowHover);
}

.btn-warning:focus, .btn-warning.focus {
	color: #fff;
	background-color: var(--yellowHover);
	border-color: var(--yellowHover);
	box-shadow: 0 0 0 0.2rem rgba(222, 170, 12, 0.5);
}

.btn-warning.disabled, .btn-warning:disabled {
	color: #fff;
	background-color: var(--yellow);
	border-color: var(--yellow);
}

.btn-warning:not (:disabled ):not (.disabled ):active, .btn-warning:not
	 (:disabled ):not (.disabled ).active, .show>.btn-warning.dropdown-toggle
	{
	color: #fff;
	background-color: var(--yellow);
	border-color: var(--yellow);
}

.btn-outline-secondary {
	color: var(--secondary);
	border-color: var(--secondary);
}

.btn-outline-secondary:hover {
	color: #fff;
	background-color: var(--secondary);
	border-color: var(--secondary);
}

.btn-outline-secondary.disabled, .btn-outline-secondary:disabled {
	color: var(--secondary);
	background-color: transparent;
}

.btn-outline-secondary:not (:disabled ):not (.disabled ):active,
	.btn-outline-secondary:not (:disabled ):not (.disabled ).active, .show>.btn-outline-secondary.dropdown-toggle
	{
	color: #fff;
	background-color: var(--secondary);
	border-color: var(--secondary);
}

.alert {
	width: 100%;
	padding-top: 1.5rem;
	padding-bottom: 0.75rem;
	margin-top: 1.5rem;
	margin-bottom: 1rem;
	border: 1px solid transparent;
	border-radius: 0.25rem;
	z-index: 2;
}

.alert-success {
	color: white;
	background-color: var(--primary);
	border-color: var(--primary);
}

.flash {
	position: fixed;
	margin: 0;
}

.list-group-item-warning {
	color: white;
	background-color: var(--primary);
}

.list-group-item-warning.list-group-item-action:hover,
	.list-group-item-warning.list-group-item-action:focus {
	color: white;
	background-color: var(--yellowHover);
}

.text-yellow {
	color: var(--yellow); !important
}

.content-wrapper {
	padding-top: 55px;
	padding-bottom: 55px;
	margin-bottom: auto;
}

h2.section-heading {
	font-size: 2.0rem;
	padding-top: 1.5rem;
	padding-bottom: 0.5rem;
	text-align: center;
}

p.section-description {
	text-align: center;
	color: #6f6f6f;
}

h4.content-heading {
	
}

.carousel-item {
	height: 65vh;
	min-height: 350px;
	background: no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/* ヘッダー　*/
.nav-link:hover, .nav-link:focus {
	color: var(--yellow);
	text-decoration: none;
}

.navbar-toggler {
	padding: 0.25rem 0.75rem;
	font-size: 1.25rem;
	line-height: 1;
	background-color: var(--yellow);
	border: 1px solid transparent;
	border-radius: 0.25rem;
	text-transform: uppercase;
}

.navbar-light .navbar-brand {
	color: var(--primary);
}

.navbar-light .navbar-nav .nav-link {
	color: var(--gray);
}

.navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:focus {
	color: var(--yellowHover);
}

.navbar-light .navbar-nav .show>.nav-link, .navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
	color: var(--gray);
}

.menu-btn {
	height: 100%;
	font-size: 30px;
	display: block;
	width: 50px;
	height: 50px;
	color: #495057;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	border-radius: 100%;
	outline: none;
}

.dropdown-item.active, .dropdown-item:active {
	color: #fff;
	text-decoration: none;
	background-color: #F7C600;
}

/* フッター　*/
footer {
	padding: 20px;
	height: 100px;
	text-align: center;
	font-size: 0.85em;
	display: block;
}

.copyright {
	font-size: 90%;
	line-height: 40px;
	text-transform: none;
}

ul.social-buttons {
	margin-bottom: 0;
}

.social-btn {
	font-size: 20px;
	line-height: 50px;
	display: block;
	width: 50px;
	height: 50px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	color: #fff;
	border-radius: 100%;
	outline: none;
	background-color: var(--yellow);
}

.logo {
	font-size: 20px;
	width: 80px;
	height: 80px;
	-webkit-tfransition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	color: #fff;
	border-radius: 100%;
	outline: none;
	background-color: var(--yellow);
	display: flex;
	align-items: center;
	justify-content: center;
}

/* 本一覧ページ　*/
.home-image {
	background-image: url(/img/home.jpeg);
	background-position: center center;
}

#book-list {
	font-size: 14px;
	text-align: center;
}

.add-book-top {
	height: 20vh;
	min-height: 220px;
	background: no-repeat center center scroll;
	background-image: url("/img/add_book_top.jpg");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	filter: grayscale(100%);
}

.search-book-for-add {
	text-align: center;
	padding-top: 30px;
}

.add-book-theme {
	font-family: Comic Sans MS;
	font-size: 40px;
	font-weight: bold;
	padding-left: 20px;
}

.book-img {
	width: auto;
	height: 160px;
	margin: 0;
}

.image img, input[type="image"] {
	opacity: 0.6;
}

.custom-file {
	max-width: 20rem;
	overflow: hidden;
}

.custom-file-label {
	white-space: nowrap;
}

.dropdown .dd-text {
	position: relative;
	top: 38px;
}

.dropdown .dd-img {
	position: relative;
	top: 48px;
}

.dropdown:hover .dropdown-menu {
	display: block;
}

.book-category {
	margin-top: 40px;
}

/*  トップページのデザイン */
.top-head-wrapper {
	font-weight: 300;
	padding-top: 7%;
	padding-bottom: 7%;	
	background-size: cover;
	background-position: center center;
	width: 100vw;
    height: 100%;
    position: relative;
    z-index: 0;
    overflow: hidden;
    -ms-flex-pack: center;
    -ms-flex-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}

.top-head-wrapper:before {
  content: '';
  position: absolute;
  top: -5px;
  bottom: -5px;
  left: -5px;
  right: -5px;
  background: inherit;
  filter: blur(1px);
  z-index: -1;
}

.top-head-wrapper .title {
	font-weight: 700;
	font-size: 48px;
	line-height: 50px;
}

.top-head-wrapper .subtitle {
	line-height: 24px;
}

@media ( max-width : 900px) {
	.top-head-wrapper .title {
		font-size: 40px;
		line-height: 45px;
	}
}

.top-head-wrapper .btn-md {
	padding: 15px 45px;
	font-size: 16px;
}

.top-head-wrapper .badge {
	line-height: 21px;
}

.top-head-wrapper .badge-inverse {
	background: #3e4555;
}

.top-head-wrapper .fas {
	font-size: 50px;
	color: var(--primary);
}

.top-head-wrapper .service-description{
	color: #6f6f6f;	
}

.top-head-wrapper .card.card-shadow {
  height: 250px;
  -webkit-box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
  box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
}

.top-head-wrapper .wrap-service-box .card-body {
  padding: 40px;
}

#edit-button {
	font-size: 16px;
}

/* 本詳細ページのデザイン */
.book-detail-img {
	width: 250px;
}

.book-detail {
	height: 180px;
}

.thumbnail {
	height: 250px;
}

.thumbnail-no {
	height: 250px;
}

.now-lending {
	position: relative;
}

.now-lending:after {
	background: #0031f7;
	bottom: 0;
	color: #fff;
	content: "Now Lending";
	font-size: 15px;
	font-weight: 700;
	height: 23px;
	letter-spacing: 1px;
	line-height: 22px;
	position: absolute;
	text-align: center;
	width: 100%;
	z-index: 600;
}

.thumbnail img {
	height: 100%;
	width: auto;
}

.book-card {
	width: 80%;
	height: 458px;
}

.card {
	height: 458px;
	border: none;
}

.book-title {
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;
	display: -webkit-box;
	-webkit-line-clamp: 2;
}

.book-author {
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;
	display: -webkit-box;
	-webkit-line-clamp: 1;
}

.book-bb {
	border-bottom-style: double !important;
}

/* 本登録・マイブックの一覧共通のデザイン */
#book-list-tr {
	border-bottom: solid 1px #eee;
}

#book-list th {
	padding: 0.5em 1em;
    margin: 2em 0;
    color: white;
    background: var(--yellow);/*背景色*/
    border-left: solid 3px white;/*左線*/
    border-right: solid 3px white;/*右線*/
}

.full-width {
	width: 100vw;
	position: relative;
	left: 50%;
	right: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
	height: 18 0px;
}

ul.category-list {
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: center;
}

li.category {
	margin-left: 10px;
	margin-bottom: 10px;
}

.card-text-title {
	border-bottom: 1px solid;
}

.pager .pagination {
	margin-top: 3%;
}

.pager .pagination li {
	display: inline;
	margin: 3%;
	padding: 0;
	display: inline-block;
	width: 60px;
	height: 40px;
	text-align: center;
	position: relative;
	border-radius: 15px;
}

.pager .pagination li a, .pager .pagination li span {
	display: inline;
	vertical-align: middle;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	display: table;
	text-decoration: none;
	background-color: #F7C600;
	color: white;
	padding-top: 20%;
	border-radius: 10px;
	border-bottom: solid 4px #627295;
}

.pager .pagination li span {
	border-bottom: none;
}

.pager .pagination li a:hover, .pager .pagination li a.active {
	color: #000;
	background: #e0a800;
}

#book-image-link{
	padding:10px 0 10px 0;
}

/* mybookのデザイン */
#book-title-mybook {
	text-align: left;
}

#mybook-error{
	font-size:1.3rem;
	padding:20% 0 7% 0;
	font-weight:bold;
}

/* 本登録のデザイン */
#register-success {
	color: white;
}

.pager .pagination li a .register-book-paging {
	display: inline;
	vertical-align: middle;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	display: table;
	text-decoration: none;
	background-color: #F7C600;
	color: white;
	border-radius: 10px;
	border-bottom: none;
}

.register-book-image {
  background-image: url(/img/register-book-top.jpg);
  color: #fff;
  padding: 2rem 1rem;
  border-radius: 0.3rem;
  background-size: cover;
}


.register-book-white-btn{
	background-color:white;
	color:#6f6f6f;
}


/* FAQ */
.ui-state-active {
	border: var(--primary);
	background: var(--primary);
	font-weight: normal;
	color: #ffffff;
}

.flash{
	position: fixed;
	margin: 0;
}

/* 右下の本登録ボタン */
.register-book-btn {
	height: 140px;
	width: 140px;
	position: absolute;
	bottom: 30px;
	right: 30px;
	position: fixed; 
	border-radius: 100%;
}

.logo.large {
	width: 140px;
	height: 140px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	text-decoration: none;
}

.large-icon {
	font-size: 3.5rem 
}

.register-book-btn-mypage {
	height: 140px;
	width: 140px;
	position: absolute;
	border-radius: 100%;
	margin-left: 40%;
}
/* ここまで */

/* グループ作成周りのcss */
.select-user {
	display: inline-block;
	vertical-align: middle;
	line-height: 38px;
}

.add-user-icon {
	font-size: 1.5rem;
	color: #17a2b8;
	margin-top: 7px;
}

.invite-user {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #DDFFFF;
	margin-top: 5px;
    margin-right: 5px;
    padding-left: 0;
    border-radius: 5px;
}

.delete-user-icon {
	font-size: 1.5rem;
	color: #dc3545;
	margin-top: 7px;
}

/* 貸し出し不可の時の */
.no-lending {
	position: absolute;
	top: 0;
	left: 0;
	-ms-transform: translate(-50%,-50%);
	margin:0;
	padding:0;
	background-color: z;
	color: whi
}