<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Honcari -気軽に本をどこへでも-</title>
<!-- Style CSS -->
<link href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet">
<link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet" type="text/css" />
</head>
<body>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" th:fragment="frag_header(page)">
  <div id="container" class="container">
    <a class="navbar-brand font-weight-bold mr-4" href="home.html" th:href="@{/}">Honcari</a>
    <form class="form-inline" th:action="@{/book/search}" method="post">
      <input class="form-control mr-sm-2" name="title" type="search" placeholder="グループ内の本を検索..." aria-label="検索...">
      <button type="submit" class="btn btn-warning my-2 my-sm-0">探す</button>
    </form>
    <!-- ハンバーガーメニュー -->
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" 
    	aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
    </button>
    <!-- ナビゲーションメニュー -->
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto w-50 nav-justified ">
		<li id="page1" class="nav-item">
          <a class="nav-link menu-btn" href="register_book.html" th:href="@{/book/show_register}"><i class="fas fa-book"></i></a>
        </li>
        <li id="page2" class="nav-item dropdown">
			<a class="nav-link dropdown-toggle menu-btn" id="dropdownMenuLink3" 
				th:src="@{/img/user_default.png}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<i class="fas fa-user-friends"></i></a>
			<div class="dropdown-menu dropdown-menu-lg-right dd-text" aria-labelledby="dropdownMenuLink3">
				<a class="dropdown-item" href="register_group.html" th:href="@{/group/to_register}">グループ作成</a>
				<a class="dropdown-item" href="search_group.html" th:href="@{/group/to_search}">グループを探す</a>
				<a class="dropdown-item" href="group_management.html" th:href="@{/group/to_management}">グループ管理</a>
			</div>
        </li>
        <li id="page3" class="nav-item dropdown">
<!-- 			<input class="nav-link dropdown-toggle rounded-lg d-block" type="image" 
				id="dropdownMenuLink4" width="58px" height="58px" th:src="@{/img/person-square.svg}" 
				data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> -->
			<a class="nav-link dropdown-toggle menu-btn" id="dropdownMenuLink4" 
				th:src="@{/img/user_default.png}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<i class="fas fa-user-alt"></i></a>
			<div class="dropdown-menu dropdown-menu-lg-right dd-img" aria-labelledby="dropdownMenuLink4">
				<a class="dropdown-item" href="mypage.html" th:href="@{/user/show_mypage}">マイページ</a>
				<div class="dropdown-divider"></div>
				<a class="dropdown-item" href="mybook.html" th:href="@{/book/show_mybook?page=0}">マイブック</a>
				<a class="dropdown-item" href="lend_management.html" th:href="@{/book_rental/show_list}">レンタル管理</a>
				<a class="dropdown-item" href="lental_history.html" th:href="@{/book_rental/show_history}">レンタル履歴</a>
				<div class="dropdown-divider"></div>
				<a class="dropdown-item" href="help.html" th:href="@{/show_faq}">FAQ</a>
				<a class="dropdown-item" href="login.html" th:href="@{/logout}">ログアウト</a>
			</div>
        </li>
      </ul>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script>
  	$(function(){
  		var page = [(${page})]
  		function active(){
  			$(".nav-item").each(function(){
  				if($(this).attr("id") == 'page' + page){
  					$(this).addClass("active");
  				}
  			});
  			if(page != 1){
  				$("#container form").remove();
  			}
  			if(page == 9){
  				$("#container div").remove();
  				$("#container button").remove();
  			}
  		}
  		active();
  	});
  </script>
</nav>
</body>
</html>