<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Honcari -気軽に本をどこへでも-</title>
<!-- Style CSS -->
<link href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet">
<link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
</head>
<body>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" th:fragment="frag_header(page)">
  <div class="container">
    <a class="navbar-brand" href="home.html" th:href="@{/}">Honcari</a>
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="検索..." aria-label="検索...">
      <button type="submit" class="btn btn-outline-secondary my-2 my-sm-0">探す</button>
    </form>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" 
    	aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
      
        <li class="nav-item active" th:if="${page == 1}">
          <a class="nav-link" href="home.html" th:href="@{/}">Home</a>
        </li>
        <li class="nav-item" th:unless="${page == 1}">
          <a class="nav-link" href="home.html" th:href="@{/}">Home</a>
        </li>
        
		<li class="nav-item active" th:if="${page == 2}">
          <a class="nav-link" href="register_book.html" th:href="@{/book/show_register}">マイブック登録</a>
        </li>
		<li class="nav-item" th:unless="${page == 2}">
          <a class="nav-link" href="register_book.html" th:href="@{/book/show_register}">マイブック登録</a>
        </li>
        <li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle active" th:if="${page == 3}" id="dropdownMenuLink" 
				th:src="@{/img/user_default.png}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				グループ</a>
			<a class="nav-link dropdown-toggle" th:unless="${page == 3}" id="dropdownMenuLink" 
				th:src="@{/img/user_default.png}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				グループ</a>
			<div class="dropdown-menu dropdown-menu-lg-right" aria-labelledby="dropdownMenuLink">
				<a class="dropdown-item" href="register_group.html" th:href="@{/group/to_register}">グループ作成</a>
				<a class="dropdown-item" href="search_group.html" th:href="@{/group/to_search}">グループを探す</a>
				<a class="dropdown-item" href="group_management.html" th:href="@{/group/to_management}">グループ管理</a>
			</div>
        </li>
        <li class="nav-item dropdown">
			<input class="nav-link dropdown-toggle rounded-lg mx-auto d-block border border-secondary" type="image" 
				id="dropdownMenuLink" width="50px" height="50px" th:src="@{/img/user_default.png}" 
				data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<div class="dropdown-menu dropdown-menu-lg-right" aria-labelledby="dropdownMenuLink">
				<a class="dropdown-item" href="mypage.html" th:href="@{/user/show_mypage}">マイページ</a>
				<div class="dropdown-divider"></div>
				<a class="dropdown-item" href="mybook.html" th:href="@{/book/show_mybook}">マイブック</a>
				<a class="dropdown-item" href="lend_management.html" th:href="@{/book_rental/show_list}">レンタル管理</a>
				<a class="dropdown-item" href="lental_history.html" th:href="@{/book_rental/show_history}">レンタル履歴</a>
				<div class="dropdown-divider"></div>
				<a class="dropdown-item" href="help.html" th:href="@{/show_help}">ヘルプ</a>
				<a class="dropdown-item" href="login.html" th:href="@{/logout}">ログアウト</a>
			</div>
        </li>
      </ul>
    </div>
  </div>
</nav>
</body>
</html>