<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Honcari -気軽に本をどこへでも-</title>
<!-- Style CSS -->
<link href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet">
<link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet" type="text/css">
</head>
<body>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" th:fragment="frag_header(page)">
  <div id="container" class="container">
    <a id="title" class="navbar-brand font-weight-bold mr-4" href="home.html" th:href="@{/}">Honcari</a>
    <!-- 検索ボックス -->
    <form class="form-inline" th:action="@{/book/search}" method="post" th:if="${page==1}">
      <input class="form-control mr-sm-2" name="title" type="search" placeholder="グループ内の本を検索..." aria-label="検索...">
      <button type="submit" class="btn btn-warning my-2 my-sm-0">探す</button>
    </form>
    <!-- ハンバーガーメニュー -->
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" 
    	aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" th:if="${page!=9}">
          Menu
          <i class="fas fa-bars"></i>
    </button>
    <!-- ナビゲーションメニュー -->
    <div class="collapse navbar-collapse justify-content-end" id="navbarResponsive" th:if="${page!=9}">
      <ul class="navbar-nav mr-4">
		<li id="page1" class="nav-item">
          <a class="nav-link" href="#" th:href="@{/tutorial}">アプリの使い方</a>
        </li>
		<li id="page1" class="nav-item">
          <a class="nav-link" href="register_book.html" th:href="@{/book/show_register}">本を登録する</a>
        </li>
        <li id="page2" class="nav-item dropdown">
			<a class="nav-link dropdown-toggle position-relative" id="dropdownMenuLink3" 
				data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="height:130%;">
				グループ</a>
			<div class="dropdown-menu dropdown-menu-lg-right dd-text" aria-labelledby="dropdownMenuLink3">
				<a class="dropdown-item" href="register_group.html" th:href="@{/group/to_register}">グループ作成</a>
				<a class="dropdown-item" href="search_group.html" th:href="@{/group/to_search}">グループを探す</a>
			</div>
        </li>
      </ul>
      <ul class="navbar-nav nav-justified mx-3">
        <li id="page3" class="nav-item dropdown">
			<a class="nav-link dropdown-toggle menu-btn image p-1 position-relative" id="dropdownMenuLink4" 
				data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<img id="header-image" class="rounded-lg my-auto d-block border border-secondary header-image"
					th:if="${loginUser.imagePath}" th:src="${loginUser.imagePath}" width="40px" height="40px">
			</a>
			<div class="dropdown-menu dropdown-menu-lg-right dd-img" aria-labelledby="dropdownMenuLink4">
				<a class="dropdown-item" href="mypage.html" th:href="@{/user/show_mypage}">マイページ</a>
				<div class="dropdown-divider"></div>
				<a class="dropdown-item" href="mybook.html" th:href="@{/book/show_mybook?page=0}">マイブック</a>
				<a class="dropdown-item" href="group_management.html" th:href="@{/group/to_management}">マイグループ 
				<span class="badge-pill badge-danger" th:if="${groupNotice}!=0" th:text="${groupNotice}">10</span></a>
				<a class="dropdown-item" href="lend_management.html" th:href="@{/book_rental/show_pending_list}">レンタル申請管理<span th:if="${NumOfPendingApproval}!=0" class="badge-pill badge-danger" th:text="${NumOfPendingApproval}">10</span></a>
				<a class="dropdown-item" href="lend_management.html" th:href="@{/book_rental/show_list}">レンタル中</a>
				<a class="dropdown-item" href="lental_history.html" th:href="@{/book_rental/show_history}">レンタル履歴</a>
				<div class="dropdown-divider"></div>
				<a class="dropdown-item" href="help.html" th:href="@{/show_faq}">FAQ</a>
				<a class="dropdown-item" href="login.html" th:href="@{/logout}">ログアウト</a>
			</div>
        </li>
      </ul>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script>
  	$(function(){
  		var page = [(${page})]
  		$(".nav-item").each(function(){
  			if($(this).attr("id") == 'page' + page){
  				$(this).addClass("active");
  			}
  		});
  		var img = $("#header-image").attr("src").toString().slice(-16,-1);
  		console.log(img);
  		if(img == 'user_default.pn') {
  			$("#header-image").css("opacity",0.75);
  		}
  	});
  </script>
</nav>
</body>
</html>