<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Honcari -気軽に本をどこへでも-</title>
<!-- Style CSS -->
<link href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet">
<link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
</head>
<body>
  <!-- side bar -->
	<div class="col-lg-3 col-md-4 col-sm-12 col-xs-12 float-left" th:fragment="frag_mypage_side_menu(page)">
		<div class="list-group" th:fragment="frag_mypage_side_menu_for_my_book(page)">
			<a id="page1" href="mypage.html" th:href="@{/user/show_mypage}" 
				class="list-group-item list-group-item-action">プロフィール</a>
			<a id="page2" href="mybook.html" th:href="@{/book/show_mybook}" 
				class="list-group-item list-group-item-action">マイブック</a>
			<a id="page3" href="lend_management.html" th:href="@{/book_rental/show_list}" 
				class="list-group-item list-group-item-action">レンタル管理</a>
			<a id="page4" href="lental_history.html" th:href="@{/book_rental/show_history}" 
				class="list-group-item list-group-item-action">レンタル履歴</a>
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
			<script>
				$(function(){
					var page = [(${page})]
					function active(){
						$(".list-group-item").each(function(){
							if($(this).attr("id") == 'page' + page){
								$(this).addClass("active");
							}
						});
					}
					active();
				});
			</script>
		</div>
	</div>
</body>
</html>