<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Honcari -気軽に本をどこへでも-</title>
	<!-- Style CSS -->
	<link rel="stylesheet" href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}">
	<link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
	<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
	<!-- navbar -->
	<nav th:insert="header::frag_header"></nav>

	<!-- page content -->
	<div class="container">
		<div class="row">
			<div class="w-75 mx-auto" style="border:1px solid">
				<h1 class="my-4">マイページ</h1>
		
				<!-- side bar -->
				<div class="col-lg-3 col-md-4 col-sm-10 col-xs-12 float-left">
					<div class="list-group">
						<a href="#" class="list-group-item list-group-item-action active">プロフィール</a>
						<a href="#" class="list-group-item list-group-item-action">レンタル中の本</a>
						<a href="#" class="list-group-item list-group-item-action">マイブック</a>
						<a href="#" class="list-group-item list-group-item-action">貸借履歴</a>
						<a href="#" class="list-group-item list-group-item-action">レンタルリクエスト</a>
					</div>
				</div>
			
				<!-- main content -->
				<div class="col-lg-5 col-md-4 col-sm-10 col-xs-12 float-left" th:if="${kindOfMyPage == 1}">
					<div class="image">
						<img class="rounded mx-auto d-block" th:if="${user.imagePath}" th:src="${user.imagePath}" width="80px" height="80px">
						<img class="rounded mx-auto d-block" th:unless="${user.imagePath}" th:src="@{/img/12.jpg}" width="80px" height="80px">
					</div>
					<div class="">
						<div>名前</div>
						<div th:text="${user.name}"></div>
					</div>
					<div class="">
						<div>メールアドレス</div>
						<div th:text="${user.email}"></div>
					</div>
					<div class="">
						<div>プロフィール</div>
						<div th:text="${user.profile}"></div>
					</div>
				</div>
				
				<div class="col-lg-5 col-md-4 col-sm-10 col-xs-12 float-left" th:if="${kindOfMyPage == 2}">
					<div class="">
						
					</div>
				</div>
				
				
			</div>
		</div>
	</div>
	
	<!-- script -->
	<script	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="../static/js/bootstrap.js" th:src="@{/js/bootstrap.js}"></script>
</body>
</html>