<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Honcari -気軽に本をどこへでも-</title>
<!-- Style CSS -->
<link href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet">
<link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet" type="text/css">
</head>
<body>
  <!-- side bar -->
	<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 float-left" th:fragment="frag_mypage_side_menu(page,category)">
		<div class="list-group">
			<a id="page1" href="mypage.html" th:href="@{/user/show_mypage}" 
				class="list-group-item list-group-item-action side">プロフィール</a>
			<a id="page2" href="mybook.html" th:href="@{/book/show_mybook?page=0}" 
				class="list-group-item list-group-item-action side">マイブック</a>
			<a id="page3" href="lend_management.html" th:href="@{/book_rental/show_list}" 
				class="list-group-item list-group-item-action side">レンタル管理</a>
			<a id="page4" href="lental_history.html" th:href="@{/book_rental/show_history}" 
				class="list-group-item list-group-item-action side">レンタル履歴</a>
		</div>
		
		<!-- 書籍カテゴリ選択リスト(デザイン要検討) -->
		<div id="my-book-category" class="book-category list-group">
			<a id="category0" href="mybook.html" th:href="@{/book/show_mybook?page=0}" 
				class="list-group-item list-group-item-action side-category">全カテゴリー</a>
					
			<a id="category1" href="mybook.html" th:href="@{/book/show_mybook_category?categoryId=1}" 
				class="list-group-item list-group-item-action side-category">文学・小説</a>
						
			<a id="category2" href="mybook.html" th:href="@{/book/show_mybook_category?categoryId=2}" 
				class="list-group-item list-group-item-action side-category">社会・ビジネス</a>
							
			<a id="category3" href="mybook.html" th:href="@{/book/show_mybook_category?categoryId=3}" 
				class="list-group-item list-group-item-action side-category">実用・教育</a>
							
		 	<a id="category4" href="mybook.html" th:href="@{/book/show_mybook_category?categoryId=4}" 
				class="list-group-item list-group-item-action side-category">旅行・地図</a>
							
			<a id="category5" href="mybook.html" th:href="@{/book/show_mybook_category?categoryId=5}" 
				class="list-group-item list-group-item-action side-category">趣味</a>
							
			<a id="category6" href="mybook.html" th:href="@{/book/show_mybook_category?categoryId=6}" 
				class="list-group-item list-group-item-action side-category">アート・教養・エンタメ</a>
							
			<a id="category7" href="mybook.html" th:href="@{/book/show_mybook_category?categoryId=7}" 
				class="list-group-item list-group-item-action side-category">辞典・図鑑・語学・辞書</a>
							
			<a id="category8" href="mybook.html" th:href="@{/book/show_mybook_category?categoryId=8}" 
				class="list-group-item list-group-item-action side-category">こども</a>
							
			<a id="category9" href="mybook.html" th:href="@{/book/show_mybook_category?categoryId=9}" 
				class="list-group-item list-group-item-action side-category">その他</a>
		</div>	
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script>
			$(function(){
				var page = [(${page})]
				$(".side").each(function(){
					if($(this).attr("id") == 'page' + page){
						$(this).addClass("list-group-item-warning");
					}
				});
				
				var category = [(${category})]
				if(category == 99){
					$("#my-book-category").remove();
				}
				$(".side-category").each(function(){
					if($(this).attr("id") == 'category' + category){
						$(this).addClass("list-group-item-warning");
					}
				});
			});
		</script>
	</div>
</body>
</html>