<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Honcari -気軽に本をどこへでも-</title>
<!-- Style CSS -->
<link href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet">
<link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet" type="text/css">
</head>
<body>
<header>
	<nav th:replace="header::frag_header(0)"></nav>
</header>

<!-- page content -->
<div class="container content-wrapper">
	<div class="row mx-auto my-5">
			
		<!-- side bar -->
		<div th:replace="mypage_side_menu::frag_mypage_side_menu(5,99)"></div>
			
		<!-- main content -->
		<div class="col-lg-9 col-md-9 col-sm-11 col-xs-11 float-left book-detail-wrapper">
			<!-- タブ・メニュー -->
			<ul class="nav nav-tabs nav-justified justify-content-center">
				<li class="nav-item">
					<a class="nav-link text-dark active" href="#borrowing-list" data-toggle="tab">借りた本</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-dark" href="#lending-list" data-toggle="tab">貸した本</a>
				</li>
			</ul>
			<!-- タブ・コンテント -->
			<div class="tab-content">
				<div class="tab-pane fade show active" id="borrowing-list">
					<!-- 借りた本 -->
					<div class="my-4 border-bottom">
						<div th:if="${borrowedPage.isEmpty()}"><p class="text-center">借りた本はありません</p></div>
						<div class="my-3" th:each="borrowedBook,status:${borrowedPage.content}">
							<div class="row">
								<div class="col-lg-6">
									<img th:src="@{${borrowedBook.ownedBookInfo.book.thumbnailPath}}" 
										class="rounded img-fluid mx-auto d-block book-detail">
								</div>
								<div class="col-lg-6">
									<div class="text-box">
										<strong th:text="${borrowedBook.ownedBookInfo.book.title}"></strong><br>
										所有者：<a th:href="@{/user/show_user_page(userId=${borrowedBook.ownedBookInfo.user.userId})}" th:text="${borrowedBook.ownedBookInfo.user.name}"></a><br>
										レンタル期間：<span th:text="${#dates.format(borrowedBook.beginning, 'yyyy年MM月dd日')}"></span>〜
													<span th:text="${#dates.format(borrowedBook.deadline, 'yyyy年MM月dd日')}"></span><br>
										現在のステータス：<span class="book-status" th:value="${status.count}" th:text="${borrowedBook.ownedBookInfo.getStatus()}"></span><br>
										<button class="btn btn-warning btn-sm re-borrow" disabled style="cursor:default" th:value="${status.count}" data-toggle="modal" data-show="true" data-target="#rental-request-form">もう一度借りる</button>
										<!-- Modal -->
										<div class="modal fade" id="rental-request-form" tabindex="-1" role="dialog">
											<div class="modal-dialog modal-dialog-centered" role="document">
												<div class="modal-content">
													<form method="post" th:action="@{/book_rental/send}" th:object="${rentalRequestForm}">
														<div class="modal-header">
															<h5 class="modal-title">貸出期限を設定</h5>
															<button type="button" class="close" data-dismiss="modal" aria-label="Close">
																<span aria-hidden="true">&times;</span>
															</button>
														</div>
														<div class="modal-body">
															<div id="error-message" th:errors="*{requestBeginning}" class="text-danger">貸出期間を入力してください</div>
															<div id="error-message" th:errors="*{requestDeadline}" class="text-danger">貸出期限を入力してください</div>
															<input type="date" name="requestBeginning" th:field="*{requestBeginning}">〜
															<input type="date" name="requestDeadline" th:field="*{requestDeadline}">
															<input type="hidden" name="ownedBookInfoId" th:value="${borrowedBook.ownedBookInfo.ownedBookInfoId}">
															<input type="hidden" name="bookStatus" th:value="${borrowedBook.ownedBookInfo.bookStatus}">
															<input type="hidden" name="ownedBookInfoVersion" th:value="${borrowedBook.ownedBookInfo.version}">
															<input type="hidden" name="ownerId" th:value="${borrowedBook.ownedBookInfo.userId}">
														</div>
														<div class="modal-footer">
															<button type="submit" class="btn btn-warning">リクエストを送信</button>
															<button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
														</div>
													</form>
												</div>
											</div>	
										</div>
										<!-- Modal -->
									</div>
								</div>
							</div><hr th:unless="${status.last}">
						</div>
					</div>
					<div class="pager row justify-content-center" th:if="${borrowedPage}">
						<ul class="pagination">
							<li th:each="pageNumber:${borrowedPageNumbers}">
								<a th:if="${pageNumber!=borrowedPage.number + 1}" th:text="${pageNumber}" 
									th:href="@{/book_rental/show_history(borrowedPageNum=${pageNumber})}"></a>
								<span th:if="${pageNumber==borrowedPage.number + 1}" th:text="${pageNumber}"></span>
							</li>
						</ul>
					</div>
				</div>
				<div class="tab-pane fade" id="lending-list">
					<!-- 貸した本 -->
					<div class="my-4 border-bottom">
						<div th:if="${lentPage.isEmpty()}"><p class="text-center">貸した本はありません</p></div>
						<div class="my-3" th:each="lentBook,status:${lentPage.content}">
							<div class="row">
								<div class="col-lg-6">
									<img th:src="@{${lentBook.ownedBookInfo.book.thumbnailPath}}" 
										class="rounded img-fluid mx-auto d-block book-detail">
								</div>
								<div class="col-lg-6">
									<div class="text-box">
										<strong th:text="${lentBook.ownedBookInfo.book.title}"></strong><br>
										レンタル者：<a th:href="@{/user/show_user_page(userId=${lentBook.borrowUser.userId})}" th:text="${lentBook.borrowUser.name}"></a><br>
										レンタル期間：<span th:text="${#dates.format(lentBook.beginning, 'yyyy年MM月dd日')}"></span>〜
													<span th:text="${#dates.format(lentBook.deadline, 'yyyy年MM月dd日')}"></span><br>
										現在のステータス：<span th:text="${lentBook.ownedBookInfo.getStatus()}"></span>
									</div>
								</div>
							</div><hr th:unless="${status.last}">
						</div>
					</div>
					<div class="pager row justify-content-center" th:if="${lentPage}">
						<ul class="pagination">
							<li th:each="pageNumber:${lentPageNumbers}">
								<a th:if="${pageNumber!=lentPage.number + 1}" th:text="${pageNumber}" 
									th:href="@{/book_rental/show_history(lentPageNum=${pageNumber})}"></a>
								<span th:if="${pageNumber==lentPage.number + 1}" th:text="${pageNumber}"></span>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<footer th:replace="footer::footer"></footer>
	<script	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="../static/js/bootstrap.js" th:src="@{/js/bootstrap.js}"></script>
	<script>
		$(function(){
			if (document.getElementById("error-message") !== null) {
				$("#rental-request-form").modal();
			}
			$(".text-box").each(function(){
				if($(this).find(".book-status").text() == '貸出可') {
					$(this).find(".re-borrow").prop("disabled",false).css("cursor","pointer");
				}
			});
		});
	</script>
</body>
</html>